@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --vermelho: #ff171f;
    --preto: #151515;
    --c_claro: #393939;
    --c_escuro: #202020;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: var(--c_escuro);
    font-family: 'Arial', Times, serif;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nome-logo{
    color: var(--vermelho);
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1.3px;
    padding-top: 6px;
}
.img-logo{
    max-width: 100px;
    height: 100%;
}
header{
    border-bottom: 1px solid rgb(143, 141, 141);
}
header nav{
    padding-right: 20px;
}
header nav a{
    color: #AAA;
    margin-right: 10px;
    
}
header nav a:hover{
    color: #FFF
}
header .container{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    margin-left: 3%;
}
/*elemento principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgb(0, 0, 0)), url('https://www.themoviedb.org/t/p/original/tyQo080tijexyUHBvWPwQt26bZa.jpg');
    background-size: cover;
    background-position: right center;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: justify;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', Arial, sans-serif
}
.nome-carrossel1{
    margin-top: 12%;
    margin-left: 3%;
}
.botao{
    background-color: rgba(0,0,0,50%);
    border: none;
    color: white;

    padding: 15px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
.filme-principal .container{
    width: 60%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel-filmes{
    margin-top:5px;
    margin-bottom: 0;
    padding-bottom: 0;
}
video{
    width: 100%;
}
.banner-trailer{
    margin-top: 0;
    padding-top: 0;
    background-color: black;
}
.trailer-titulo{
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
}
.nome-carrossel2{
    margin-left: 3%;    
    padding-bottom: 8px;
}
/* .carrossel-filmes .segundo{
    margin-top: 10px;
} */
footer{
    border-top: 1.5px solid var(--c_claro);
    
}
.meu-nome{
    margin: 10px auto;
    text-align: center;
}